﻿@model IEnumerable<WarehouseDisplay.WarehouseService.Warehouse>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var warehouse in Model)
{
    <hr />
    <h2>Warehouse: @warehouse.Name</h2>
    <hr />

    <div class="row ">
        <div class="col-sm-4"><h5>No. of Racks: @warehouse.Racks (A - @System.Convert.ToChar(@warehouse.Racks + 64))</h5></div>
        <div class="col-sm-4"><h5>No. of Columns: @warehouse.Columns</h5></div>
        <div class="col-sm-4"><h5>No. of Rows: @warehouse.Rows (A - @System.Convert.ToChar(@warehouse.Rows + 64))</h5></div>
    </div>





    <table class="table container table-condensed table-striped table-bordered" style="width:650px;margin-top:10px; horiz-align: left ">
        <tr>
            <th>Label</th>
            <th>Pallete Location Type</th>
            <th>Stock Content</th>
        </tr>
        @foreach (var palletLocation in @warehouse.PalletLocations)
        {
            <tr>
                <td>@palletLocation.Label</td>
                <td>@palletLocation.PalletLocationType</td>
                <td>@Math.Round(@palletLocation.StockContent, 2) %</td>
            </tr>
        }
    </table>
}
